$default-transition: 0.5s;
$button-main__background: $main-color;
$button-main__box-shadow: 0px 6px 12px rgba(50, 68, 228, 0.3);
$button-secondary__background: $secondary-color;
$button-secondary__box-shadow: 0px 3px 8px rgba(37, 90, 182, 0.4);
$button__font-size: 16px;
$button__border-radius: 50px;
$button-main__font-weight: $font-weight__bold;
$button-secondary__font-weight: $font-weight__semibold;
$button-main__min-width: 250px;