$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__medium: 500;
$font-weight__semibold: 600;
$font-weight__bold: 700;
$font-weight__extrabold: 800;
$font-weight__heavy: 900;
$font-size__base: 16px;
$icon-font__size: $font-size__base;
$icon-font__color: $color-black;
$icon-font__color-hover: $color-black;
$icon-font-vertical-align: middle;
$icon-font-transition: 0.5;

$font-family-icomoon: 'icomoon';
$font-family-icomoon-path: '#{$font-family-icomoon}/#{$font-family-icomoon}';

$font-family-gilroy: 'Gilroy';
$font-family-gilroy-medium-path: 'GilroyMedium/GilroyMedium';
$font-family-gilroy-semi-bold-path: 'GilroySemibold/GilroySemibold';
$font-family-gilroy-bold-path: 'GilroyBold/GilroyBold';
$font-family-gilroy-regular-path: 'GilroyRegular/GilroyRegular';

$default-icon-font: $font-family-icomoon;
$icon-font-display: inline-block;

$main-color: $color-blue-dark;
$secondary-color: $color-blue-darkness;
$font-family-default: sans-serif;