*{box-sizing: border-box}

//.wrapper_main{
//  max-width: 1500px;
//  margin: 0 auto;
// }

.wrapper{
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);

    .content{
      margin-top: 50px;
        &_title{
          font-size: 45px;
          font-weight: 600;
        }

        &_text{
          margin-top: 25px;
          padding-right: 25px;
          text-align: justify;
        }
    }

   .wrapper_button{
     display: flex;
     margin-top: 45px;
     justify-content: center;

        &-get{
          text-decoration: none;
          color: black;
        }

          .cust-button{
            width: 160px;
            border: 1px solid rgba(0, 0, 0, 0.41);
            padding: 15px 18px;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 5px;
            transition: 0.2s;
          }

          .cust-button:hover{
            cursor: pointer;
            box-shadow: 0 0 9px rgba(0, 0, 0, 0.12);
          }

         .start{
           margin-right: 25px;
           background-color: red;
           color: white;

            &:hover{
              //background-color: rgba(255, 0, 0, 0.39);
              opacity: 0.5;
            }


         }

         .contact{
           margin-left: 25px;
         }



  }
}

