*, *:before, *:after {
  box-sizing: border-box;
}


.elementor-widget-container strong {
  color: red;
}

//.elementor-section{
//!important
//}

.btn-price-section.elementor-section {
  background: unset;
}

//styling of table-template

.wrapper-price {
  margin: 50px;
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
}

.price-section-content {
  border: 1px solid rgba(128, 128, 128, 0.25);
  //position: relative;

  .price-table-title {

    background-color: rgba(128, 128, 128, 0.15);
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    padding: 30px;
  }

  .price-sub_title {
    padding: 35px 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    border: 1px solid rgba(128, 128, 128, 0.25);

    &-description {
      color: rgba(128, 128, 128, 0.5);
      font-size: 15px;
    }
  }

  .price-table_field {
    text-align: start;
    font-size: 18px;
    color: rgba(128, 128, 128, 0.85);
    padding: 15px 20px;
    display: flex;

    .pr {
      color: #e2001a;;
    }

    .pr_ar {
      margin-left: 10px;
    }

    //&:before{
    //  content: '\2713';
    //  top: 0;
    //  left: -25px;
    //  color: #e2001a;
    //  padding-right: 5px;
    //}

    &:nth-of-type(odd) {
      background-color: rgba(128, 128, 128, 0.15);
    }


  }


}

.price_button-wrapper {
  margin-top: 50px;
}

.my-notes-table_field {
  margin-left: 15px;
  color: grey;
  padding-bottom: 10px;
}


