*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper-container {
  width: 100%;

}

.solution-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.elementor-section {
  background-color: rgba(235, 241, 245, 0.91);
  //background-color: #F1F5FF;
  //background-color: #C3CCDE;

  &:nth-of-type(odd) {
    background-color: white;
  }
}

.elementor-container {
  width: 1440px;
  margin: 0 auto;
}