@media #{$desktop__min-width} {
  .hide-desktop {
    display: none;
  }
}

@media #{$mobile__max-width} {
  .hide-mobile {
    display: none;
  }
}

@media #{$from-mobile-to-ipad-p} {
  .hide-ipad-p {
    display: none;
  }
}

@media #{$from-ipad-p-to-ipad-l} {
  .hide-ipad-l {
    display: none;
  }
}

@media #{$from-mobile-to-ipad-l} {
  .hide-ipad {
    display: none;
  }
}

@media (max-width: $container-big__max-width) {
  .row {
    margin: 0;
  }
}