@mixin lib-button-main(
  $type: default,
  $lib-button__background: $button-main__background,
  $lib-button__color: $color-white,
  $lib-button-hover__background: $color-blue-dark-light,
  $lib-button-hover__color: $color-white
) {

  @if $type == inactive {
    $lib-button__background: $color-blue-gray;
    $lib-button-hover__background: false;
    $lib-button-hover__color: false;
  } @else if $type == destructive {
    $lib-button__background: $color-roman;
    $lib-button-hover__background: false;
    $lib-button-hover__color: false;
  }

  @include lib-make-button(
          $lib-button__background: $lib-button__background,
          $lib-button__box-shadow: $button-main__box-shadow,
          $lib-button__text-transform: uppercase,
          $lib-button__color: $lib-button__color,
          $lib-button__border-radius: $button__border-radius,
          $lib-button__font-weight: $button-main__font-weight,
          $lib-button__padding: $indent__half ($indent__xl + $indent__xs),
          $lib-button__min-width: $button-main__min-width,
          $lib-button-hover__background: $lib-button-hover__background,
          $lib-button-hover__color: $lib-button-hover__color
  );
}

@mixin lib-button-secondary(
  $type: default,
  $lib-button__background: $color-blue-darkness,
  $lib-button__color: $color-white,
  $lib-button-hover__background: $color-blue-darkness-light,
  $lib-button-hover__color: $color-white
) {

  @if $type == inactive {
    $lib-button__background: $color-blue-gray;
    $lib-button-hover__background: false;
    $lib-button-hover__color: false;
  } @else if $type == destructive {
    $lib-button__background: $color-roman;
    $lib-button-hover__background: false;
    $lib-button-hover__color: false;
  }

  @include lib-make-button(
          $lib-button__background: $lib-button__background,
          $lib-button__box-shadow: $button-secondary__box-shadow,
          $lib-button__color: $lib-button__color,
          $lib-button__border-radius: $button__border-radius,
          $lib-button__font-weight: $button-secondary__font-weight,
          $lib-button__padding: ($indent__xs + 2) $indent__base,
          $lib-button-hover__background: $lib-button-hover__background,
          $lib-button-hover__color: $lib-button-hover__color
  );
}

@mixin lib-make-button(
  $lib-button__font-size: $button__font-size,
  $lib-button__padding: false,
  $lib-button__min-width: false,
  $lib-button__background: false,
  $lib-button__color: $color-white,
  $lib-button-hover__background: $lib-button__color,
  $lib-button-hover__color: $lib-button__background,
  $lib-button__border-radius: false,
  $lib-button__border: false,
  $lib-button__box-shadow: false,
  $lib-button__text-transform: false,
  $lib-button__transition: $default-transition,
  $lib-button__font-weight: $font-weight__regular
) {
  @include lib-font-size($lib-button__font-size);
  @include lib-css(background, $lib-button__background);
  @include lib-css(color, $lib-button__color);
  @include lib-css(border-radius, $lib-button__border-radius);
  @include lib-css(border, $lib-button__border);
  @include lib-css(box-shadow, $lib-button__box-shadow, 1);
  @include lib-css(font-weight, $lib-button__font-weight);
  @include lib-css(text-transform, $lib-button__text-transform);
  @include lib-css(padding, $lib-button__padding);
  @include lib-css(min-width, $lib-button__min-width);
  @include lib-transition($_duration: $lib-button__transition);
  @include lib-text-decoration-none;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;

  &:hover,
  &:active,
  &:focus {
    @include lib-css(background, $lib-button-hover__background);
    @include lib-css(color, $lib-button-hover__color);
  }
}

