@mixin lib-font-face(
  $family-name,
  $font-path,
  $font-weight: normal,
  $font-style: normal,
  $font-display: auto
) {
  font-family: $family-name;
  src: url('#{$baseDirFonts}#{$font-path}.eot?21831q');
  src: url('#{$baseDirFonts}#{$font-path}.eot?21831q#iefix') format('embedded-opentype'),
  url('#{$baseDirFonts}#{$font-path}.ttf?21831q') format('truetype'),
  url('#{$baseDirFonts}#{$font-path}.woff?21831q') format('woff'),
  url('#{$baseDirFonts}#{$font-path}.svg?21831q#icomoon') format('svg');
  font-weight: $font-weight;
  font-style: $font-style;
  font-display: $font-display;
}