@mixin lib-make-row(
  $gap: $default_gap
) {
  box-sizing: border-box;
  margin-left: -($gap);
  margin-right: -($gap);
  width: 100%;
}

@mixin lib-make-container() {
  @include lib-css(max-width, $container__max-width);
  @include lib-css(padding-right, $default_gap);
  @include lib-css(padding-left, $default_gap);

  box-sizing: border-box;
  margin: 0 auto;
}

@mixin lib-make-container-big() {
  @include lib-css(max-width, $container-big__max-width);
  @include lib-css(padding-right, $default_gap);
  @include lib-css(padding-left, $default_gap);

  box-sizing: border-box;
  margin: 0 auto;
}