/*
Include your scss files with mixins here
 */
@import "_lib";
@import "_typography";
@import "_icons";
@import "_buttons";
@import "_fonts";
@import "_animation";
@import "_grid";
@import "_titles";

@mixin lib-dark-blue-circle(
  $_size,
  $_position: before,
  $_top: false,
  $_left: false,
  $_right: false,
  $_bottom: false,
  $_center: false
) {
  &:#{$_position} {
    position: absolute;
    @include lib-css(top, $_top);
    @include lib-css(left, $_left);
    @include lib-css(right, $_right);
    @include lib-css(bottom, $_bottom);

    @if $_center = true {
      margin: 0 auto;
    }
  }

  @include lib-circle(dark-blue, $_size, $_position);
}

@mixin lib-indigo-circle(
  $_size,
  $_position: before,
  $_top: false,
  $_left: false,
  $_right: false,
  $_bottom: false,
  $_center: false
) {
  &:#{$_position} {
    position: absolute;
    @include lib-css(top, $_top);
    @include lib-css(left, $_left);
    @include lib-css(right, $_right);
    @include lib-css(bottom, $_bottom);

    @if $_center = true {
      margin: 0 auto;
    }
  }

  @include lib-circle(indigo, $_size, $_position);
}

@mixin lib-red-circle(
  $_size,
  $_position: before,
  $_top: false,
  $_left: false,
  $_right: false,
  $_bottom: false,
  $_center: false
) {
  &:#{$_position} {
    position: absolute;
    @include lib-css(top, $_top);
    @include lib-css(left, $_left);
    @include lib-css(right, $_right);
    @include lib-css(bottom, $_bottom);

    @if $_center = true {
      margin: 0 auto;
    }
  }

  @include lib-circle(red, $_size, $_position);
}

@mixin lib-circle(
  $_type,
  $_size,
  $_position: before
) {
  &:#{$_position} {
    content: '';
    @include lib-css(width, $_size);
    @include lib-css(height, $_size);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('#{$baseDirSvg}#{$_type}-circle.svg');
  }
}

@mixin lib-people(
  $_size,
  $_top: false,
  $_left: false,
  $_right: false,
  $_bottom: false,
  $_center: false,
  $_scale: false
) {
  @include lib-css(width, $_size);
  @include lib-css(height, $_size);
  background-image: url("#{$baseDir}peoples/people.png");
  display: inline-block;
  position: absolute;
  @include lib-css(top, $_top);
  @include lib-css(left, $_left);
  @include lib-css(right, $_right);
  @include lib-css(bottom, $_bottom);
  @include lib-css(transform, $_scale);
}

@mixin lib-create-dot(
  $_size,
  $_top: false,
  $_left: false,
  $_right: false,
  $_bottom: false,
  $_center: false,
  $_scale: false
) {
  @include lib-css(width, $_size);
  @include lib-css(height, $_size);
  @include lib-css(top, $_top);
  @include lib-css(left, $_left);
  @include lib-css(right, $_right);
  @include lib-css(bottom, $_bottom);
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  display: inline-block;
  background: #000;
}