@mixin lib-default-title(
  $_direction: flex-start,
  $_color: $default-title__color,
  $_title-font-size: $default-title__font-size,
  $_description-font-size: $default-description__font-size,
  $_title__font-weight: $default-title__font-weight,
  $_title__line-height: $default-title__line-height,
  $_description__line-height: $default-description__line-height,
  $_title__max-width: $default-title__max-width,
  $_description__max-width: $default-description__max-width,
  $_description__font-weight: $default-description__font-weight,
  $_description__margin-top: $default-description__margin-top,
  $_line: true,
  $_title-line__size: $default-title-line__size,
  $_title-line__color: $default-title-line__color,
  $_title-line__width: $default-title-line__width,
  $_margin: false,
  $_flex-direction: column
) {

  & {
    display: flex;
    align-items: #{$_direction};
    @include lib-make-container;

    @include lib-css(margin, $_margin);
    @include lib-css(flex-direction, $_flex-direction);
  }

  .title {
    @include lib-css(color, $_color);
    @include lib-css(font-weight, $_title__font-weight);
    @include lib-css(line-height, $_title__line-height);
    @include lib-css(max-width, $_title__max-width);
    @include lib-font-size($_title-font-size);

    @if $_line {
      display: flex;
      align-items: center;

      &:before {
        content: '';
        @include lib-css(width, $_title-line__width);
        //@include lib-css(background, $_title-line__color);
        @include lib-css(height, $_title-line__size);
        margin-right: ($indent__s + ($indent__xs / 2));
        display: inline-block;
      }
    }
  }

  .description {
    @include lib-font-size($_description-font-size);
    @include lib-css(font-weight, $_description__font-weight);
    @include lib-css(margin-top, $_description__margin-top);
    @include lib-css(max-width, $_description__max-width);
    @include lib-css(line-height, $_description__line-height);
    border: 1px solid red;

    @if $_line {
      position: relative;
      left: #{($_title-line__width + ($indent__s + ($indent__xs / 2)) - ($indent__xs / 2))};
    }
  }
}