@mixin lib-icon-font(
  $_icon-font-content,
  $_icon-font-size: $icon-font__size,
  $_icon-font-color: $icon-font__color,
  $_icon-font-color-hover: $icon-font__color-hover,
  $_icon-font-display: $icon-font-display,
  $_icon-font-position: 'before',
  $_icon-font-vertical-align: $icon-font-vertical-align,
  $_icon-font-transition: $icon-font-transition,
  $_icon-font-line-height: $_icon-font-size,
  $_font: $default-icon-font,
  $_icon-font-content-hover: false
) {

  &:#{$_icon-font-position} {
    @include lib-css(content, $_icon-font-content);
    @include lib-transition(color);
    @include lib-css(display, $_icon-font-display);
    @include lib-font-size($_icon-font-size);
    @include lib-line-height($_icon-font-line-height);
    @include lib-css(vertical-align, $_icon-font-vertical-align);
    @include lib-css(color, $_icon-font-color);
    @include lib-css(font-family, $_font);
    @include lib-css(width, $_icon-font-size);
    @include lib-css(height, $_icon-font-size);
  }

  &:hover {
    &:#{$_icon-font-position} {
      @include lib-css(color, $_icon-font-color-hover);
      @if $_icon-font-content-hover != false {
        @include lib-css(content, $_icon-font-color-hover);
      }
    }
  }
}