*, *:before, *:after {
  box-sizing: border-box;
}
.container-wrapper{
  max-width: 1420px;
  margin: 50px auto;

  a {
    text-decoration: none;
    color: #6b6868;
  }
}
.feedback-wrapper{
  @include lib-vendor-prefix-display;
  justify-content: space-between;
}

.register-form{
  color: #fff;


}

fieldset{
  background-color: #000;
  border: none;
}

.feedback-form {
  max-width: 48%;
  margin-right: 200px;
}
.feedback-talk {
  max-width: 35%;
  margin-left: 134px;
  padding: 0 113px;
  font-size: 23px;
  line-height: 1.5;
}
.form-name,
.form-contact {
  @include lib-vendor-prefix-display;
  justify-content: space-between;
}



.form-name_field {
  padding-top: 25px;
  width: 50%;
}
.form-name_field:nth-child(odd){
  padding-left: 20px;
  padding-right: 2px;
}
.form-name_field:nth-child(even){
  padding-right: 20px;
  padding-left: 2px;
}
.form-number {
  padding-left: 20px;
  margin-top: 20px;
  padding-right: 20px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number]{
  padding: 15px 5px;
  margin: 7px 0;
  font-size: 1.2rem;
  width: 100%;
}



//========== input [type=file]===========
.input__file-wrapper {
  display: flex;
  justify-content: space-around;
}

span.wpcf7-form-control-wrap.file {
  visibility: hidden;
}

.input__file-area {
  width: 250px;
  height: 66px;
  background-color: whitesmoke;

}

.input__file-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
  cursor: pointer;
}
.input__file-area {
  width: 250px;
  height: 66px;
  background-color: whitesmoke;
  padding: 21px 1px 1px 76px;
  color: #000;
}
.input__file-button-text {
  margin-right: 71px;
  padding-top: 24px;
}

//============= end  input [type=file]===========

//=============== textarea =================
textarea{
  width: 100%;
  resize: vertical;
  padding: 15px;
  height: 150px;
  margin: 7px 0 !important;
}
.form-wrapper {
  max-width: 737px;
}

.form-message,
.form-file {
  margin: 11px 20px;
}


//=========== input[type=submit] ========================
input[type=submit]{
  background-color: whitesmoke;
  width: 250px;
  max-width: 100%;
  line-height: normal;
  font-size: 18px;
  padding: 14px 20px 14px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

//=========== discription ============
.form-discription {
  margin: 22px ;
  text-align: justify;
}


.contact-wrapper{
  @include lib-vendor-prefix-display();
  justify-content: space-between;
  margin: 50px 0;

}

.contact-address-wrap{
  @include lib-vendor-prefix-display;
  justify-content: space-between;
  font-weight: 600;


      .contact-address_address,
      .contact-address_schedule{
        width: 250px;
      }
}

.contact-address_social{
  @include lib-vendor-prefix-display;
  justify-content: space-between;
  margin-top: 25px;
  a {
    margin-left: 10px;
  }

  .footer-info_wrapper-social a img{
    transition: 0.2s;
  }
  .footer-info_wrapper-social a img:hover{
    transform: translateY(-5px);
    font-weight: bolder;
  }

}

.contact-city {
  //margin-left: 200px;
  letter-spacing: 4px;
//  =======================
  max-width: 35%;
  margin-left: 134px;
  padding: 0 113px;
  font-size: 23px;
  line-height: 1.5;
}
.contact-address {
  margin-right: 350px;
  letter-spacing: 4px;
}
.contact-address_schedule {
  margin: 19px 0 0px 27px;
}

.position-map{

  margin: auto;
}