$font-size__footer: $font-size__base*1.15;
.footer-wrapper{
  max-width: 100%;
  height: 100%;

  background-color: black;
  color: white;

  .delimiter{
    max-width: 1500px;
    height: 1px;
    background-color: #c0b7b7;
    margin: auto;
    opacity: .6;
  }
}

.footer-content{
  max-width: 1500px;
  margin: auto;
  @include lib-vendor-prefix-display();
  justify-content: space-between;
  padding: 30px 10px;


}

.footer-content_social-wrapper{
  @include lib-vendor-prefix-display();
  justify-content: space-between;

  .footer-content_social-wrapper-text{
    margin-right: 20px;
  }

  .footer-content_social-wrapper-icon{
    margin-left: 10px;
    a{
      margin-right: 10px;
      transition: .2s;

      & img:hover{
        transform: translateY(-5px);
      }
    }
  }

}


.footer-contact ul {
  @include lib-vendor-prefix-display();
  max-width: 1500px;
  margin: auto;
  list-style: none;
  padding: 25px 0 25px 10px;


     li{
         margin-right: 10px;

         a{
           color: white;
           text-decoration: none;
           transition: .2s;

             &:hover{
               text-decoration: underline;
           }
         }
     }
}























