$sub-menu__min-width: 230px;


.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  //height: 180px;
  //border: 1px solid black;
  z-index: 99;
  //box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  @include lib-css(background, $color-white);

  .header-desktop {
    padding: $indent__half 0;
  }

  .header-content {
    @include lib-vendor-prefix-display();
    @include lib-vendor-prefix-flex-wrap();
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .right-side {
    > div {
      display: inline-block;
    }

    ul {
      @include lib-list-reset-styles;
    }

    .menu {
      @include lib-list-inline;

      > li {
        margin: 0 $indent__s (-$indent__l);
        position: relative;
        padding-bottom: $indent__l;

        &.but-login a {
          color: red;
          border: 1px solid rgba(130, 130, 130, 0.91);
          padding: 5px 15px;
          border-radius: 3px;
          transition: .2s;
          text-transform: capitalize;
          &:hover{
            box-shadow: 0 0 10px rgba(130, 130, 130, 0.91);
          }
        }

        &.menu-item-has-children {
          > a {
            @include lib-icon-font(
                    $_icon__content: $icon-nav-arrow,
                    $_icon__width: 14px,
                    $_icon__height: 9px,
                    $_icon__position: after,
                    $_icon__font-size: 7px,
                    $_icon__margin: 0 0 0 ($indent__xs / 2)
            );
          }


          .sub-menu {
            @include lib-visually-hidden;
            @include lib-css(min-width, $sub-menu__min-width);
            position: absolute;
            top: ($indent__xl + 6);
            @include lib-css(background, $color-white);
            z-index: 97;
          }

          &:hover {
            .sub-menu {
              @include lib-visually-hidden-reset($_lib-position: false);
              padding: $indent__s;
              box-sizing: border-box;
              box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
            }
          }

          .sub-menu li {
            margin-bottom: $indent__s;

            > a {
              &,
              &:before,
              &:hover:before,
              &:hover {
                @include lib-transition;
              }

              @include lib-icon-font(
                      $_icon__content: $icon-dot,
                      $_icon__width: 6px,
                      $_icon__height: 6px,
                      $_icon-hover__color: $color-blue-darkness
              );

              &:before {
                padding: 0;
                font-size: 0;
              }

              &:hover:before {
                padding: 0 ($indent__xs / 2) 0 0;
                font-size: 7px;
              }

              &:hover {
                @include lib-css(color, $color-blue-darkness);
                font-weight: $font-weight__semibold;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        & a:active{
          color: red;
        }

      }

      li a {
        @include lib-text-decoration-none;
        @include lib-css(color, $color-black);
        @include lib-css(font-weight, $font-weight__medium);
        @include lib-font-size(18px);
      }
    }

    .contact-button {
      @include lib-css(margin-left, $indent__s);
    }
  }
}