//*{
//  box-sizing: border-box;
//}
.wrapper-solution{
  max-width: 1440px;

}

.solution-section-content{
  padding-bottom: 45px;
}

.solution-title{
  h2{
    font-weight: 300;
    line-height: 1.2em;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .solution-sub_title{
    color: red;
    font-size: 27px;
  }

}

.solution-description{
  margin: 45px 0;
  width: 100%;
  line-height: 1.5;
  opacity: .6;
}

.button-solution{
  display: inline-flex;

  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 3px;

  a{
    color: red;
  }

}