$desktop-circle-size: 666px;
$desktop-circle-spacing: ($indent__m + ($indent__xs / 2));
$facebook-outline__width: 540px;
$facebook-outline__height: 170px;

.top-banner {
  height: calc(100vh - #{(($indent__l * 2) + ($indent__xs + 2))});

  &,
  .top-banner-content {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .top-banner-content {
    .top-banner-title-section {
      width: auto;
      position: relative;
      margin-right: calc(#{(($indent__m + ($indent__xs / 2)) * 2) + (($indent__xl * 2) + $indent__base)});
    }

    .top-banner-image-section {
      @include lib-css(max-width, $desktop-circle-size);
      position: relative;
      margin-bottom: -($indent__xl + $indent__base);
    }

    margin-top: -($indent__xl + $indent__base);

    h3 {
      @include lib-font-size(24px);
      margin: 0 0 $indent__s 0;
      padding: ($indent__xs / 2) $indent__s;
      border-left: 3px solid $color-blue-darkness;
    }

    h3,
    p {
      font-weight: $font-weight__regular;
    }

    h3,
    p,
    h1 {
      @include lib-css(color, $color-dark-gray);
    }

    h1 {
      @include lib-font-size(72px);
      line-height: 130%;
      letter-spacing: -0.01em;
      font-weight: $font-weight__bold;
      max-width: 855px;
      margin: 0 0 $indent__base 0;
    }

    p {
      @include lib-font-size(20px);
      line-height: 170%;
      max-width: 530px;
      margin: 0 0 $indent__l 0;
    }
  }

  @include lib-dark-blue-circle(
          $_size: 150px,
          $_top: -75px,
          $_left: 0,
          $_right: -170px,
          $_center: true
  );

  .top-banner-content {
    @include lib-red-circle(
            $_size: 104px,
            $_left: -52px,
            $_bottom: 50px,
            $_position: after
    );
  }

  .image-section {
    border: 1px solid $color-light-gray;
    border-radius: 50%;
    width: calc(#{$desktop-circle-size} - #{($desktop-circle-spacing * 2)});
    height: calc(#{$desktop-circle-size} - #{($desktop-circle-spacing * 2)});
    position: relative;
    box-sizing: unset;

    &_1 {
      @include lib-animation-rotate($duration: 15s);

       &_people {
        &_1 {
          top: -44%;
        }

        &_2 {
          top: -28%;
          right: -27%;
        }

        &_3 {
          left: -45%;
        }

        &_4 {
          right: -44%;
        }
      }

      > .dot {
        &_1 {
          top: -16%;
          left: 0;
          right: 0;
          margin: 0 auto;
        }

        &_2 {
          right: -17.6%;
          top: 53%;
        }

        &_3 {
          top: 95%;
          right: 0;
        }

      }
    }

    &_2 {
      padding: $desktop-circle-spacing;
      margin: -($desktop-circle-spacing);

      &_people {
        &_1 {
          bottom: -13%;
          right: -31%;
        }
      }

      > .dot {
        &_1 {
          top: 17%;
          left: 10%;
        }

        &_2 {
          top: 76%;
        }
      }
    }

    &_3 {

      padding: ($desktop-circle-spacing * 2);
      margin: -($desktop-circle-spacing * 2);

      &_people {
        &_1 {
          left: 0;
          right: 0;
          bottom: -32%;
          margin: 0 auto;
        }
      }

      > .dot {
        &_1 {
          top: 50%;
          left: 10.5%;
        }

        &_2 {
          right: 18%;
          top: 27%;
        }
      }
    }

    .dot {
      @include lib-create-dot(
              $_size: 15px
      );
    }
  }

  .image-section-content {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;

    > h4:before,
    > h4:after,
    &:before,
    &:after {
      content: '';
      background-image: url("#{$baseDirSvg}slogan-element.svg");
      display: inline-block;
      position: absolute;
      opacity: 0.9;
      width: 100px;
      background-repeat: no-repeat;
      height: 100px;
      background-position: center;
    }

    &:before {
      transform: rotate(-72deg);
      right: 12%;
      top: 22%;
    }

    &:after {
      transform: rotate(112deg);
      left: 12%;
      top: 60%;
    }


    > h4 {
      @include lib-font-size(35px);
      line-height: 150%;
      color: $color-black;
      max-width: 200px;
      font-weight: $font-weight__medium;
      margin: 0;

      &:before {
        transform: rotate(182deg);
        left: 14%;
        top: 20%;
      }

      &:after {
        right: 14%;
        top: 62%;
      }
    }
  }

  .people-section {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .people {
      @include lib-people(
              $_size: 368px,
              $_scale: scale(0.3)
      );
      @include lib-transition($_property: opacity);

      opacity: 0;
      z-index: 2;
    }
  }

  background: $color-white;
  position: relative;
  overflow: hidden;

  .facebook-outline {
    > div {
      position: absolute;
      bottom: -60px;
      right: -180px;
      width: 540px;
      height: 170px;
      @include lib-css(width, $facebook-outline__width);
      @include lib-css(height, $facebook-outline__height);
      border-radius: 135px;
      transform: rotate(-45deg);

      &:first-child {
        @include lib-css(background, $color-blue-darkness);
        margin-bottom: ($indent__m + ($indent__xs / 2));
      }

      &:last-child {
        @include lib-css(background, $color-blue-dark);
        box-shadow: -14px 4px 16px rgba(0, 0, 0, 0.25);
        margin-right: -($indent__m + ($indent__xs / 2));
      }
    }
  }
}

.elementor-widget-TopBanner {
  .elementor-widget-container {
    @include lib-indigo-circle(
            $_size: 200px,
            $_left: -230px,
            $_right: 0,
            $_bottom: -100px,
            $_center: true,
            $_position: after
    );
  }
}